@font-face {
    font-family: 'Stolzl';
    src: url('Stolzl-Medium.eot');
    src: local('Stolzl Medium'), local('Stolzl-Medium'),
        url('Stolzl-Medium.eot?#iefix') format('embedded-opentype'),
        url('Stolzl-Medium.woff2') format('woff2'),
        url('Stolzl-Medium.woff') format('woff'),
        url('Stolzl-Medium.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
}
@font-face {
    font-family: 'Helvetica';
    src: url('Helvetica.ttf');
}

.center {
    margin: auto;
}

.yellow {
    background-color: #f7d524 !important;
    font-family: 'Stolzl';
}
.grey {
    background-color: #efedeb;
    font-family: 'Stolzl';
}

.navbar .navbar-toggler-icon {
    background-image: url('toggle.png') !important;
}

.navbar-brand, .nav-item {
    text-shadow: grey 4px 3px 15px;
    margin-bottom: 10px;
}
.navbar-brand {
    font-family: 'Stolzl';
    font-size: x-large;
}

a.navlink, a.navlink:hover {
    text-decoration: none;
    color: white;
}
.navbar-collapse {
    display: flex;
    justify-content: flex-end;
}

.navbar-nav {
    width: 160px;
}
.nav-item {
    margin-left: 7px;
}

h1, h2, h3, h4, h5, h6 {
    color: black;
}

h2, h3, h4, h5, h6 {
    font-family: Arial, Helvetica, sans-serif;
}

/* The Modal (background) */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding-top: 100px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
  }
  
/* Modal Content */
.modal-content {
background-color: #fefefe;
margin: auto;
padding: 20px;
border: 1px solid #888;
width: 80%;
}

/* The Close Button */
.close {
color: #aaaaaa;
float: right;
font-size: 28px;
font-weight: bold;
}

.close:hover,
.close:focus {
color: #000;
text-decoration: none;
cursor: pointer;
}

@media screen and (max-width: 500px) {
h1 {
    font-size: 30px;
}
}

.mini-card {
    width: min(700px, 70%);
    margin: auto;
    border-left: 9px solid;
    border-right: none;
}

.red-orange {
border-image: 
    linear-gradient(
    to bottom, 
    #e7b71a, 
    #df772a
    ) 1 100%;
}

.yellow-orange{
border-image: 
linear-gradient(
    to bottom, 
    #f1d024, 
    #ed9f3b
) 1 100%;
}
.blue-blue{
    border-image: 
    linear-gradient(
        to bottom, 
        #6ac2b3, 
        #00aabb
    ) 1 100%;
}

.tg-0pky {
    padding-right: 30px;
}

.search {
    width: min(700px, 70%);
    margin: auto;
}

input, select, label {
    display: block;
}

.bootstrap-select {
    width: 100% !important;
}

.btn-light{
    background-color: #FFF;
    color: #000;
}

.left-footer {
    background: linear-gradient(
        to bottom, 
        #f1d024, 
        #ed9f3b
    );
}

.right-footer {
    background: linear-gradient(
        to bottom, 
        #6ac2b3, 
        #00aabb
    );
}

.central-footer {
    background-color: #f7d524;
    width: min(700px, 70%);
    border-width: 9px;
    border-style: solid;
    border-image: 
        linear-gradient(
        to bottom, 
        white, 
        white
        ) 1 100%;
}

@media screen and (max-width: 600px) {
    .search, .mini-card, .central-footer{
        width: 95%;
    }
}

@media screen and (max-width: 995px) {
    .left-footer, .right-footer, .central-footer{
        height: 150px !important;
    }
    .central-footer {
        top: -525% !important;
    }
    .footer-59391 {
        margin-top: 250px !important;
    }
}

@media screen and (max-width: 405px) {
    .mini-card {
        font-size:small;
    }
}

.grad1 {
    background: 
        linear-gradient(
        to right, 
        #e7b71a, 
        #df772a
        );
    }
    
.grad0{
    background: 
    linear-gradient(
        to right, 
        #f1d024, 
        #ed9f3b
    );
}
.grad2{
    background: 
    linear-gradient(
        to right, 
        #6ac2b3, 
        #00aabb
    );
}
.virtual-button {
    background-color: white;
    border: 1px solid grey;
    border-radius: 4px;
}

.language {
    position:absolute;
    top: 10px;
    right: 20px;
    background-color: #7a7a78;
    width: 30px;
    height: 30px;
    text-align: center;
    vertical-align: middle;
    color: #efedeb;
    text-transform: uppercase;
}

.seemore {
    position: absolute;
    bottom: -2px;
    right: 11px;
    color: #7a7a78;
    font-size: smaller;
    text-align: center;
}

.hidemore {
    position: absolute;
    top: -10px;
    right: 24px;
    color: #7a7a78;
    font-size: smaller;
    text-align: center;
}

@media screen and (min-width: 995px) {
    .form-group.left {
        float: left;
    }
    .form-group.right {
        float: right;
        margin-top: 0 !important;
    }
}